# Folder view configuration files
.DS_Store
Desktop.ini

# Folders
admin/

# Web Storm
.idea/

#Sublime
mkh10.sublime-project
mkh10.sublime-workspace

# Thumbnail cache files
._*
Thumbs.db

# Application specific files
.sass-cache

# Bower components
bower_components/

# NPM components: grunt etc.
node_modules/

# PUBLIC
dist/public

# Trash
feedback.html
g.crx
g.pem
npm-debug.log
