	<div class="container">
		<div class="row text-justify ">

			<!-- Help Project -->
			<div id="" class=" container col-xs-12  "	>
				<div class="panel panel-default col-xs-12">
					<h1 class=" text-center">Допомога проекту</h1>
					<div class="text-center">
						<img class="img-circle  " src="public/img/who.png" alt="WHO - World Health Organization" width="100" height="100">
					</div>
					<p class="col-xs-12"></p>
					<div class="lead col-xs-12 pull-right">
						<p>
							Якщо Вам став у пригоді даний ресурс і є бажання внести вклад у його розвиток, скористайтеся одним із наведеними нижче способом для переказу коштів. Будь-яка сума стане у пригоді.
						</p>
								<hr>
						<p>
							<h3>На що підуть гроші?</h3>
							<small>
							<ul class="list-unstyled">
								<li><b>Оплата домену</b> - <span class="text-danger">150 грн/рік</span></li>
								<li><b>Оплата хостингу</b> - <span class="text-danger">500 грн/рік</span></li>
								<li>Розробка програм для смартфонів:
									<ul class="hidden">
										<li><b>Windows Phone - 19$</b> для реєстрації в магазині Windows Apps - Microsoft Store <b class="text-primary">Готово</b></li>
										<li><b>Android - 25$</b> для реєстрації в магазині Google Play</li>
										<li><b>iOS - 99$</b> для реєстрації в магазині App Store</li>
									</ul>
									<dl class="dl-horizontal">
										<dt>Windows Phone</dt> 
										<dd class="text-success"><b>19$</b> для реєстрації в магазині Windows Apps - Microsoft Store <b class="text-primary">Готово</b></dd> 
										<dt>Android</dt> 
										<dd class="text-danger"><b>25$</b> для реєстрації в магазині Google Play</dd> 
										<dt>iOS</dt> 
										<dd class="text-danger"><b>99$</b> для реєстрації в магазині App Store</dd> 
									</dl>
								</li>
								<li>Заохочення розробника для подальшої праці та покращення проекту ;)</li>
							</ul>
							</small>
							
						</p>
					</div>
					<p class="col-xs-12"></p>
				</div>
			</div>

			<!-- .img-responsive -->
			<div class="text-left">
				<!-- PrivatBank -->
				<div class=" col-xs-12 col-md-6 pull-left  container">
					<div class="bs-callout bs-callout-info">
						<a target="_blank" title="ПриватБанк" href="http://sendmoney.privatbank.ua/ua/?hash=3065176310">
							<img class="pull-right " src="../../public/img/pay_pb.png" style="height:auto; max-height:65px;">
						</a>
						<div class="">

							<h3 class="">Картка "ПриватБанку"</h3>
								<hr>
							<p class="lead">
								Номер картки: <a target="_bank" href="http://sendmoney.privatbank.ua/ua/?hash=3065176310">
									5363 **** **** 2340
								</a>
							</p>
						</div>
						<div class="row"></div>
					</div>
				</div>

				<!-- WebMoney -->
				<div class=" col-xs-12 col-md-6 pull-right  container">
					<div class="bs-callout bs-callout-info">
						<a target="_blank" href="https://advisor.wmtransfer.com/Spasibo.aspx?url=mkh10.com.ua"><img class="pull-right " src="../../public/img/pay_wm.png" style="height:auto; max-height:65px;"></a>
						<div class="">
							<h3 class="">WebMoney</h3>
								<hr>
							<p class="lead">Адреси WebMoney-гаманців:</p>
							<ul class="list-unstyled">
								<li>
									<a target="_blank" href="https://webmoney.ua/inout/addfunds">
										<img class="img-circle _pull-left" src="../../public/img/WMU.png"height="30" width="30"> WMU (Гривні): U162916547345
									</a>
								</li>
									<br>
								<li>
									<a target="_blank" href="https://webmoney.ru/inout/addfunds">
										<img class="img-circle _pull-left" src="../../public/img/WMR.png"height="30" width="30"> WMR (Російські рублі): R428600100068
									</a>
								</li>
									<br>
								<li>
									<a target="_blank" href="https://webmoney.us/inout/addfunds">
										<img class="img-circle _pull-left" src="../../public/img/WMZ.png"height="30" width="30"> WMZ (Доллари США, $): Z430822582195
									</a>
								</li>
									<br>
								<li>
									<a target="_blank" href="https://webmoney.eu/inout/addfunds">
										<img class="img-circle _pull-left" src="../../public/img/WME.png"height="30" width="30"> WME (Євро, €): E553087575567
									</a>
								</li>
								<!-- <li>WMB (): B141329235627</li> -->
									<br>
								<li>
									<a target="_blank" href="https://webmoney.bc/inout/addfunds">
										<img class="img-circle _pull-left" src="../../public/img/WMX.png"height="30" width="30"> WMX (Bitcoin): X190441056932
									</a>
								</li>
									<br>
								<li>
									<a target="_blank" href="https://webmoney.gd/inout/addfunds">
										<img class="img-circle _pull-left" src="../../public/img/WMG.png"height="30" width="30"> WMG (Золото): G101668929120
									</a>
								</li>
							</ul>
						</div>
						<div class="row"></div>
					</div>
				</div>

				<!-- LiqPay -->
				<div class=" col-xs-12 col-md-6 pull-left  container">
					<div class="bs-callout bs-callout-info">
						<img class="pull-right " src="../../public/img/pay_lp.png" style="height:auto; max-height:65px;">
						<div class="">
							<h3 class="">LiqPay</h3>
								<hr>
							<p>
								<form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/checkout">
									<input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJwdWJsaWNfa2V5IjoiaTIyNzEwODk4NjYwIiwiYW1vdW50IjoiNSIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiJMaXFQYXkiLCJ0eXBlIjoiZG9uYXRlIiwibGFuZ3VhZ2UiOiJlbiIsInBheV93YXkiOiJjYXJkLGxpcXBheSxkZWxheWVkLGludm9pY2UscHJpdmF0MjQifQ==" />
									<input type="hidden" name="signature" value="V5mkDA9u4SBFsQTIHOX7MoWYWHw=" />
									<input type="image" src="//static.liqpay.com/buttons/d1en.radius.png" name="btn_text" />
								</form>
							</p>
						</div>
						<div class="row"></div>
					</div>
				</div>

				<!-- Yandex Money -->
				<div class=" col-xs-12 col-md-6 pull-left  container">
					<div class="bs-callout bs-callout-info">
						<img class="pull-right " src="../../public/img/pay_ym.png" style="height:auto; max-height:65px;">
						<div class="">
							<h3 class="">Yandex Money</h3>
								<hr>
							<p class="lead">Номер гаманця: <a target="_blank" href="https://money.yandex.ru/to/410012176505540">410012176505540</a></p>
						</div>
						<div class="row"></div>
					</div>
				</div>

			</div>

				<!-- <iframe src="https://funding.webmoney.ru/widget/button/5727c2ed-0fef-4d81-8899-8c95a500c642" width="150" height="55"></iframe> -->


		</div><!--/.col-xs-12.col-sm-9-->
	</div>